version: '3.8'

services:
  db:
    container_name: postgres-full-stask
    image: postgres:14.0-alpine
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ./pgdata:/var/lib/postgrasql/data
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
